// course-page
.course-page
	+openAnimation

	&__title
		font-size: 52px

	&__btn
		display: block

		text-align: center

		cursor: pointer

		border: none

		padding: 20px 40px

		color: $white
		background-color: $mainColor

		font-size: 24px

		border-radius: 100px

		will-change: transform

		+SfRegular
		+transition

		& > span
			margin: 0 5px
			color: #F9C7B6
			text-decoration: line-through

		&:hover
			transform: scale(0.99)

		&:active
			transform: scale(0.95)

		&.small
			font-size: 21px
			padding: 15px 25px

	&-fixed__btn
		position: sticky
		z-index: -1

		top: 92%

		margin: 0 auto

		width: 400px

		opacity: 0

		+transition
		+boxShadow

		&.visible
			opacity: 1
			z-index: 15

	// main
	&-main
		&-text
			display: flex
			align-items: flex-start
			justify-content: space-between

			&__title
				font-size: 64px

				width: 700px

			&-description
				width: 50%

				&__description
					font-size: 32px

				&__btn
					margin-top: 50px
					width: 100%

				&__btnimage
					margin-top: 35px
					margin-left: 35px

					user-select: none
					pointer-events: none

	&-lessons
		margin: 150px 0
		+openAnimation

		&-wrapper
			display: flex
			justify-content: space-between
			align-items: flex-start

		&-video
			top: 50px
			position: sticky
			width: 45%

			display: flex
			justify-content: center
			align-items: center

			&.disabled video
				opacity: 0
				pointer-events: none
				user-select: none

			&-plaecholder
				display: flex
				flex-direction: column
				justify-content: space-between
				align-items: flex-start

				z-index: 10

				position: absolute
				left: 0
				top: 0

				padding: 15px 20px

				width: 100%
				height: 100%

				background-color: $backgroundGray

				+borderRadiusBlock
				+openPopup

				&.close
					+closePopup

				&__description
					line-height: 1.3em

					font-size: 64px

				&__link
					cursor: pointer
					display: inline-block
					border-bottom: 3px solid $mainColor
					font-size: 64px
					color: $mainColor

		&-list
			position: relative
			width: 50%

			overflow: hidden
			border-radius: 0px 0px 50px 50px

			&__title
				margin-bottom: 50px
				font-size: 48px

			&-item
				user-select: none
				cursor: pointer
				display: block

				padding: 35px
				margin-bottom: 10px

				background-color: $backgroundGray

				will-change: transform

				border-radius: 50px

				+transition

				&:hover
					background-color: $mainColor
					color: $white

					+transformScale

				&:hover &-top__title > span
					color: $white

				&:last-child
					margin-bottom: 0

				&__title
					font-size: 32px

				&__description
					margin-top: 50px
					font-size: 24px

					max-width: 90%

			&-item-shadow
				z-index: 2

				display: none

				bottom: 0
				left: 0
				position: absolute

				border-radius: 0px 0px 50px 50px

				width: 100%
				height: 50px

				background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.3) 80%)

	// skills
	&-skills
		margin: 150px 0

		padding: 75px
		border-radius: 50px

		background-color: $mainColor

		color: $white

		&__title
			margin-bottom: 75px

		&-items-wrapper
			display: flex
			justify-content: space-between

		&-item
			width: 32%

			display: flex
			flex-direction: column
			justify-content: space-between

			padding: 35px

			color: $black
			background-color: $white

			border-radius: 50px

			&__title
				font-size: 36px
				margin-bottom: 25px

			&__description
				font-size: 24px

	// use-skills
	&-use-skills
		margin: 150px 0

		display: flex
		justify-content: space-between

		position: relative

		&__image
			width: 500px

			left: 75px
			bottom: -150px

			position: absolute

			user-select: none
			pointer-events: none

		&__title
			width: 600px

		&-items-wrapper
			width: 50%

		&-item
			padding: 35px

			background-color: $backgroundGray

			border-radius: 35px

			margin-bottom: 15px

			+transition

			&:hover
				background-color: $mainColor
				color: $white

				+transformScale

			&__title
				font-size: 32px
				margin-bottom: 50px

			&__description
				font-size: 24px

	// buy
	&-buy
		width: 100%

		display: flex
		justify-content: space-between
		align-items: center

		&-text
			width: 50%

			&__title
				margin-bottom: 75px

			&-description
				&__description
					font-size: 32px
					margin-bottom: 35px

					& > a
						color: $mainColor
						border-bottom: 2px solid $mainColor

					& > span
						color: $mainColor
						border-bottom: 2px solid $mainColor

					& > img
						user-select: none
						pointer-events: none

						transform: translateY(5px)
						width: 35px

		&__image
			width: 700px

			user-select: none
			pointer-events: none

	// passing
	&-passing
		margin: 250px 0 150px 0

		&__title
			margin-bottom: 50px

		&__image
			user-select: none
			pointer-events: none

			width: 100%

	// tools
	&-tools
		margin: 150px 0

		display: flex
		justify-content: space-between

		&__title
			width: 500px

		&-list
			width: 50%

			&__item
				font-size: 32px

				list-style: url("data:image/svg+xml,%3Csvg width='24' height='11' viewBox='0 0 24 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.00017 8.24995C2.00017 5.78913 1.92157 2.83333 5.12515 2.83333C8.54682 2.83333 9.18798 5.31523 10.9584 7.43977C12.8365 9.69343 16.076 8.57251 18.1574 6.90737C19.5088 5.82625 22 3.93925 22 2' stroke='%23F4906E' stroke-width='4' stroke-linecap='round'/%3E%3C/svg%3E%0A")

				border-bottom: 2px solid $borderGray

				padding-left: 10px

				padding-bottom: 50px
				margin-bottom: 50px

				& > p
					width: 75%

	// faq
	&-faq
		margin-top: 150px
		padding-bottom: 125px
		margin-bottom: 50px

		display: flex
		justify-content: space-between

		&__title
			width: 45%

		&-items-wrapper
			width: 50%

		&-item
			padding: 35px

			background-color: $backgroundGray

			margin-bottom: 10px

			will-change: transform

			+borderRadiusBlock

			+transition

			&:hover
				color: $white
				background-color: $mainColor

				+transformScale

			&:last-child
				margin-bottom: 0

			&__title
				font-size: 32px
				margin-bottom: 50px

			&__description
				font-size: 24px
