// master-card
.master-card
	margin: 50px 0
	+openAnimation

	&-info
		display: flex

		padding-bottom: 50px
		border-bottom: 1px solid $borderGray
		+openAnimation

		&-avatar
			min-width: 250px
			height: 250px

			border-radius: 50%

			+backgroundSetting

		&-text
			max-width: 60%
			margin-left: 75px

			&__title
				margin-bottom: 25px

			&-socials
				margin-top: 35px

				&__subtitle
					font-size: 21px
					color: $gray
					margin-bottom: 15px

				&-links-wrapper
					display: flex
					align-items: center

				&__link
					margin-right: 25px
					
					will-change: transform
					
					+transition

					& > svg
						width: 60px

					&:active
						+transformScale

					&:last-child
						margin-right: 0

	&-courses
		margin-top: 75px

		&-block-wrapper
			display: flex
			flex-wrap: wrap

		&-btn
			display: flex
			justify-content: center
			align-items: center

		&__btn
			width: 250px

	&-magazine
		margin-top: 75px

		&-btn
			display: flex
			justify-content: center
			align-items: center

		&__btn
			width: 250px
