// media
@media screen and ( max-width: 1400px )
	// shop
	.shop
		&-block
			width: 33.3333%

	// magazine-post-page
	.magazine-post-page
		&-cover
			&-text
				&-top
					flex-direction: column
					align-items: flex-start

					&-info
						margin-bottom: 25px

@media screen and ( max-width: 1350px )
	// course-page
	.course-page
		&-lessons
			&-video
				&-plaecholder
					&__description, &__link
						font-size: 42px
						max-width: 100%

@media screen and ( max-width: 1300px )
	// main
	.main
		&-text
			margin-top: 25px

			&__title
				font-size: 54px

	// course-page
	.course-page
		&-skills
			&-items-wrapper
				flex-direction: column

			&-item
				width: 100%
				margin-bottom: 25px

				&:last-child
					margin-bottom: 0

		&-use-skills
			&-wrapper
				flex-direction: column

			&-block
				&-title
					width: 100%

					&-icon
						display: none

				&-text
					width: 100%

		&-comparison-courses
			&-block-wrapper
				flex-direction: column

			&-block
				&-offline, &-hobjob
					width: 100%

				&-offline
					margin-bottom: 25px

		&-tools
			&-wrapper
				flex-direction: column

			&__title
				width: 100%

			&-items-wrapper
				width: 100%

		&-faq
			&-wrapper
				flex-direction: column

			&__title
				width: 100%

			&-items-wrapper
				width: 100%

	// training
	.training
		&-subscribe-disabled-wrapper
			width: 100%

@media screen and ( max-width: 1250px )
	// course-page
	.course-page
		&-price
			&-blocks
				&-subscribe
					&-text
						&__price
							font-size: 42px

						&-list
							&__item
								font-size: 15px

							&-hobjob-good
								&-text

									&__text
										font-size: 15px

				&-buy
					&-text
						&-price
							&__title
								font-size: 42px

						&-list
							&__item
								font-size: 15px

	// cabinet-subscribe-disable
	.cabinet-subscribe-disable
		&-wrapper
			flex-direction: column

		&-text
			text-align: center
			width: 100%
			order: 2

		&-image
			margin-bottom: 25px

			width: 200px
			order: 1

@media screen and ( max-width: 1200px )
	// header
	.header
		&-nav
			display: none

		&-menu-button
			display: block

		&-user-menu
			display: none

	// shop
	.shop
		&-filters
			width: 50%

	// magazine
	.magazine
		&-block
			width: calc( 50% - 30px )

	// training
	.training
		&-null
			&-text
				width: 100%

			&-img
				display: none

	// passing
	.passing
		&-lesson-info
			flex-direction: column

			&-block
				&-text, &-materials, &-middle,
					width: 100%

				&-middle
					height: 100px

				&-materials
					margin-top: 50px

		&-bottom-block
			&-master
				width: 100%

	// reglog
	.reglog
		&-block-wrapper
			width: 75%

	// course-page
	.course-page
		&-main
			&-text
				width: 55%

			&-image
				width: 40%

		&-materials
			&-wrapper
				flex-direction: column
				justify-content: flex-start

				min-height: 100%

			&__title
				width: 100%

			&-items-wrapper
				margin-top: 25px

				width: 100%

	// hobjob-good
	.hobjob-good
		&-wrapper
			flex-direction: column

		&-text
			width: 100%
			margin-bottom: 50px

			&__logo
				width: 200px

			&__btn
				width: 100%

		&__image
			width: 60%

@media screen and ( max-width: 1150px )
	// course-page
	.course-page
		&-price
			&-subscribe
				&-rates
					&-text
						&-left
							width: 48%

					&-blocks
						&-block
							padding: 25px

							&-top-text
								margin-bottom: 25px

								&__title
									font-size: 24px

							&-middle-text
								margin-bottom: 25px

								&__price
									font-size: 48px

	// reglog
	.reglog
		&-wrapper
			flex-direction: column

		&-form-wrapper
			width: 100%
			margin-bottom: 50px

		&-product-wrapper
			width: 100%

@media screen and ( max-width: 1100px )
	// main
	.main
		margin: 25px 0

		&-wrapper
			align-items: center
			flex-direction: column

		&-text
			margin-top: 0
			width: 100%

			&-categories
				&__item
					font-size: 21px

		&-video
			margin-top: 50px
			width: 75%

	// shop
	.shop
		&-btn-wrapper
			max-width: 100%

		&-block
			width: 50%

	// course-page
	.course-page
		&-main
			margin: 25px 0

			&-wrapper
				flex-direction: column

			&-text
				padding: 0
				width: 100%
				margin-bottom: 50px

				&__btn
					width: 100%

			&-image
				height: 500px
				width: 100%

		&-lessons
			margin: 50px 0

			&-wrapper
				flex-direction: column

			&-video
				width: 100%
				order: 2

			&-list
				width: 100%
				order: 1

				margin-bottom: 25px

				&-item-wrapper
					max-height: 400px
					overflow-y: auto

					+borderRadiusBlock

				&-item-shadow
					display: block

		&-materials
			&-modal
				width: 80%

				&__description
					max-width: 100%
					font-size: 46px

				&__link
					font-size: 46px

		&-master
			margin: 50px 0

	// cabinet
	.cabinet
		&-block
			flex-direction: column

			&-text
				width: 100%

			&-form, &-subscribe
				margin-top: 50px
				width: 100%

	// referrals
	.referrals
		&-top
			&-img
				display: none

			&-text
				width: 100%

	// footer
	.footer
		&-block
			&-nav
				display: none

			&-contact
				margin: 0

@media screen and ( max-width: 1050px )
	// course-page
	.course-page
		&-price
			&-blocks
				flex-direction: column

				&-subscribe
					width: 100%
					flex-direction: row

					padding: 35px

					&-text
						padding: 0
						width: 50%

						&-list
							&-hobjob-good
								margin-top: 10px
								align-items: flex-start

								& > svg
									margin-top: 5px

								&-text
									flex-direction: column
									align-items: flex-start

									&__logo
										width: 115px

									&__text
										margin-top: 5px
										margin-left: 0

					&-image
						display: none

					&-image-media
						display: block

				&-buy
					margin-top: 25px

					width: 100%

					display: flex
					flex-direction: row
					justify-content: space-between

					padding: 35px

					&-text
						width: 50%

					&-image
						display: none

					&-image-media
						display: block

@media screen and ( max-width: 1000px )
	// course-page
	.course-page
		&-price
			&-subscribe
				&-rates
					&-text
						flex-direction: column
						align-items: center

						margin-bottom: 50px

						&-left
							width: 100%
							margin-bottom: 50px

					&-blocks
						flex-direction: column

						&-block
							width: 100%
							transform: scale(1)

							margin-bottom: 25px

							&:last-child
								margin-bottom: 0

							&:nth-child(2n)
								transform: scale(1)

@media screen and ( max-width: 900px )
	// header
	.header
		&-modal-menu
			&-content
				padding: 15px

			&-nav
				&-block
					&-main
						&__link
							font-size: 36px

					&-user
						&__link
							font-size: 28px

							&-image
								min-width: 40px
								height: 40px

	// master-card
	.master-card
		&-info
			flex-direction: column
			align-items: flex-start

			&-avatar
				min-width: 200px
				height: 200px

			&-text
				max-width: 100%

				margin-top: 25px
				margin-left: 0

	// shop
	.shop
		&-filters
			width: 75%

		&-btn-wrapper
			flex-wrap: nowrap
			overflow-x: scroll

		&-block-wrapper
			margin-top: 50px

		&-section
			margin: 50px 0

	// shop-section
	.shop-section
		&__description
			width: 100%
			font-size: 18px

	// course-page 
	.course-page
		&-master
			&-wrapper
				padding: 35px

				flex-direction: column
				align-items: center

			&-text
				width: 100%

			&__description
				margin-bottom: 50px

			&__btn
				width: 100%

			&-img
				margin: 0 0 50px 0

	// magazine
	.magazine
		&-filters-categories
			max-width: 100%
			flex-wrap: nowrap
			overflow-x: scroll
			margin-bottom: 0

		&-block-wrapper
			margin-top: 25px

		&-block
			width: 100%
			margin: 0 0 25px 0
			padding-bottom: 25px

			&-top
				&-cover
					height: 350px

	// magazine-post-page
	.magazine-post-page
		&-wrapper
			max-width: 100%

		&-next
			&-text
				max-width: 100%

			&-arrow
				display: none

	// cabinet
	.cabinet
		&-card-user-info
			flex-direction: column
			text-align: center

			&-text
				margin: 50px 0 0 0

		&-block
			margin: 25px 0
			padding-bottom: 50px

			&:first-child
				margin: 0 0 25px 0

			&-form
				margin-top: 50px

	// training
	.training
		&-section
			&-block
				padding-bottom: 25px

				&-left
					flex-direction: column

				&-cover
					width: 100%
					height: 300px

					&-placeholder
						background-color: $blackTransparency

					&-icon
						opacity: 1
						transform: translate(-50%, -50%) scale3d(1, 1, 1)

				&-text
					width: 100%
					margin: 25px 0 0 0

					&__title
						font-size: 28px

					&-progress, &-auth
						margin-top: 25px

				&__hidden
					width: 80px
					top: 30px
					left: 30px
					color: $white
					background-color: $red

		&-subscribe-disabled
			&-text
				&-types
					&-item
						transform: scale(1)
						margin-right: 25px

	// passing
	.passing
		&-top
			flex-direction: column

			&-text
				order: 2

			&-next
				order: 1
				width: 100%
				margin-bottom: 25px
				padding-bottom: 25px
				border-bottom: 1px solid $borderGray

		&-lessons-list
			flex-direction: column
			padding-bottom: 0
			margin-bottom: 25px

			&-block
				width: 100%
				margin-bottom: 25px

				&-item
					min-width: 150px

					&-cover
						height: 100px

		&-bottom-block
			&-master
				flex-direction: column
				align-items: center

				&-image
					margin-right: 0
					margin-bottom: 25px

					width: 200px
					min-width: 200px
					height: 200px

	// referrals
	.referrals
		&-top
			&-text
				&__btn
					margin-top: 25px

	// policy
	.policy
		&-wrapper
			width: 100%

	// footer
	.footer
		&-block
			flex-direction: column
			align-items: center

			&-logos
				display: flex
				flex-direction: column
				align-items: center

				margin-bottom: 50px

			&-contact
				display: flex
				flex-direction: column
				align-items: center

			&-subinfo
				flex-direction: column
				align-items: center

				&-block
					margin-top: 15px
					text-align: center

				&-block
					&__link
						display: block
						margin: 10px 0 0 0

@media screen and ( max-width: 800px )
	// interface
	.title, .title__mb
		font-size: 38px

	// header
	.header
		&-user
			&-nav
				display: none

	// course-page
	.course-page
		&-price
			&-blocks
				padding: 15px 10px

				&-subscribe
					padding: 0
					flex-direction: column

					&-text
						padding: 20px 25px
						width: 100%

					&-image
						display: block
						padding-bottom: 20px

					&-image-media
						display: none

				&-buy
					padding: 20px 25px
					flex-direction: column

					&-text
						width: 100%

					&-image
						display: block

					&-image-media
						display: none

	// master-card
	.master-card
		&-info
			padding-bottom: 25px

			&-text
				&-socials
					margin-top: 25px

					&__link
						margin-right: 15px

						& > svg
							width: 50px

		&-courses
			margin-top: 25px

	// main
	.main
		&-text
			&__title
				font-size: 48px

			&__btn
				width: 100%

	// referrals
	.referrals
		&-partners
			&-subinfo
				display: none

			&-item
				flex-direction: column

			&-col
				display: flex
				justify-content: center
				margin-bottom: 25px
				width: 100%

				&:last-child
					margin-bottom: 0

@media screen and ( max-width: 750px )
	// course-page
	.course-page
		&-feedbacks
			&-slider
				margin-top: 0

				&-carousel
					width: 100%

				&-arrow-wrapper
					margin-top: 25px

					display: flex
					align-items: center
					justify-content: center

				&-arrow
					position: static

					margin: 0 10px

					width: 30px
					height: 30px

@media screen and ( max-width: 700px )
	// interface
	.socials-read
		&-item
			justify-content: center

			margin-right: 0
			margin-bottom: 15px

			&:last-child
				margin-bottom: 0

	// header
	.header
		&-modal-menu
			&-content
				width: 100%
				height: 100%

			&-nav
				flex-direction: column

				&-block
					&-main, &-user
						width: 100%

					&-main
						order: 2
						margin-top: 15px

					&-user
						order: 1

			&-socials
				&-read
					width: 100%

					display: flex
					flex-direction: column
					align-items: flex-start

	// main
	.main
		&-text
			&-categories
				margin-top: 25px

				&__item
					font-size: 18px

		&-video
			margin-top: 25px

	// course-page
	.course-page
		&-lessons
			&-video
				&-plaecholder
					&__description, &__link
						font-size: 32px

		&-skills
			&-item
				padding: 20px

				&__title
					font-size: 32px

		&-comparison-courses
			&-block
				&-hobjob, &-offline
					padding: 20px

					&__title
						font-size: 32px

				&-hobjob
					&__btn
						margin-top: 25px

		&-faq
			&-item
				padding: 20px

	// shop
	.shop
		&-block
			padding: 0
			width: 100%

			&-top
				&-cover
					height: 250px

			&-bottom
				&__link

	// reglog
	.reglog
		&-block-wrapper
			width: 100%

	// magazine-post-page
	.magazine-post-page
		&-cover
			&-text
				&-top
					&-info
						flex-direction: column
						align-items: flex-start

						&-auth
							margin-bottom: 15px

					&-socials
						display: flex
						flex-direction: column

	// training
	.training
		&-subscribe-disabled
			&-text
				padding: 20px

				&__title
					font-size: 28px

				&-types
					&-item
						margin-right: 15px

						& > svg
							width: 200px

				&-list
					&__item
						font-size: 16px

					&-hobjob-good
						align-items: flex-start
						margin-top: 10px

						& > svg
							margin-top: 7px

						&-text
							flex-direction: column
							align-items: flex-start

							&__text
								font-size: 16px

	// footer
	.footer
		&-block
			&-contact
				width: 100%

				&-email-wrapper
					flex-direction: column
					align-items: center

					width: 100%

				&-email
					display: block

					text-align: center

					min-width: 300px

					margin-bottom: 15px
					margin-right: 0

					&:last-child
						margin-bottom: 0

				&-socials-read
					width: 100%

					display: flex
					flex-direction: column
					align-items: center

@media screen and ( max-width: 600px )
	// interface
	.category
		font-size: 14px
		padding: 6px 8px

	// main
	.main
		&-text
			&__title
				font-size: 38px

			&__description
				font-size: 18px

		&-video
			&__video
				width: 100%

	// reglog
	.reglog
		&-form
			&__title
				font-size: 24px

		&-product
			&-subscribe
				&-block
					&-text
						padding: 20px

						&__title
							max-width: 100%
							font-size: 28px

						&-list
							&__item
								font-size: 16px

							&-hobjob-good
								align-items: flex-start
								margin-top: 10px

								& > svg
									margin-top: 7px

								&-text
									flex-direction: column
									align-items: flex-start

									&__text
										font-size: 16px

	// magazine-post-page
	.magazine-post-page
		&-cover
			&-text
				&__title
					font-size: 28px

				&__description
					font-size: 21px

		&-next
			padding: 25px

			&-text
				&__title
					font-size: 24px

	// cabinet-subscribe-disable
	.cabinet-subscribe-disable
		&-text
			&-btn
				flex-direction: column

				&__btn
					width: 100%

					&:first-child
						margin-bottom: 15px

	// course-page
	.course-page
		&-main
			&-text
				&-subinfo
					&-hobjob-production
						width: 150px
						margin-right: 5px
						margin-bottom: 10px

					&__category
						margin-bottom: 10px

			&-image
				height: 300px

		&-materials
			&-modal
				width: 98%

				&__description
					font-size: 42px

				&__link
					font-size: 42px

@media screen and ( max-width: 500px )
	// interface
	.title, .title__mb
		font-size: 32px

		& span
			font-size: 21px

	.title__mb
		margin-bottom: 35px

	.description, .description__mt, .description__mb
		font-size: 18px

	.input
		&-file-block
			&__btn
				min-width: 100%

			&__label
				flex-direction: column

			&-img
				margin-left: 0
				margin-top: 25px

	.btn__gray
		width: 100%

	// header
	.header
		&-login
			&__link
				font-size: 16px
				& svg
					display: none

		&-menu-button
			margin-left: 15px

		&-modal
			&-menu
				&-social
					&__link
						margin-right: 15px

						& > svg
							width: 50px

	// main
	.main
		&-text
			&-categories
				&__item
					padding: 10px 15px

					margin-bottom: 5px
					margin-right: 5px

			&__btn
				margin-top: 25px

		&-video
			margin-top: 0
			width: 100%

	// course-page
	.course-page
		&__btn
			width: 95%
			left: 50%
			bottom: 10px
			transform: translateX(-50%)

			&:active
				transform: scale(0.95) translateX(-53%)

		&__title
			font-size: 32px

		&-main
			margin: 25px 0

			&-text
				margin-bottom: 25px

				&__title
					font-size: 36px

				&-master
					display: none

				&__btn
					display: none

		&-lessons
			margin: 35px 0

			&-video
				&-plaecholder
					&__description, &__link
						max-width: 100%
						font-size: 21px

			&-list
				&__title
					font-size: 28px

				&-item
					&-top
						flex-direction: column
						align-items: flex-start

						&-left
							order: 2

						&-right
							order: 1
							margin-bottom: 15px

					&__description
						font-size: 18px

		&-materials
			margin: 35px 0

			&-wrapper
				padding: 20px

			&-item
				margin-bottom: 15px

				&__title
					font-size: 18px

			&-modal-wrapper
				align-items: flex-start

			&-modal
				margin-top: 25px

				&__description
					font-size: 24px

				&__link
					margin-top: 35px
					font-size: 24px

				&-close
					top: auto
					bottom: 20px

		&-skills
			margin: 35px 0

			&-item
				&__title
					font-size: 28px
					margin-bottom: 15px

				&__description
					font-size: 18px

		&-use-skills
			margin: 35px 0

			&-block
				&-text
					&-item
						padding-bottom: 25px
						margin-bottom: 25px

						&__title
							font-size: 24px

						&__description
							font-size: 18px

		&-feedbacks
			margin: 35px 0

		&-price
			&-subscribe
				&-rates
					padding: 20px 15px

					&-text
						margin-bottom: 25px

						&-left
							margin-bottom: 25px
							&__title
								font-size: 28px

						&-timer
							&-block
								width: 60px
								height: 60px

								border-radius: 15px

								&__title
									font-size: 21px

								&__subtitle
									font-size: 15px

		&-comparison-courses
			margin: 35px 0

			&-block
				&-offline
					&__title
						font-size: 24px
						margin-bottom: 25px

					&-item
						width: 100%

						&__description
							font-size: 15px

							&::before
								top: 8px

				&-hobjob
					&__title
						font-size: 24px
						margin-bottom: 25px

					&-item
						&__description
							font-size: 15px

							& > svg
								width: 10px

		&-passing
			margin: 35px 0

		&-tools
			margin: 35px 0

			&__item
				font-size: 21px
				padding-left: 15px
				padding-bottom: 15px

		&-faq
			margin: 35px 0

			&-item
				padding: 20px

				&__title
					font-size: 24px

				&__description
					font-size: 18px

		&-master
			margin: 35px 0

			&-wrapper
				padding: 20px 15px

			&__title
				font-size: 36px
				margin-bottom: 25px

	// hobjob-good
	.hobjob-good
		margin: 35px 0

		&__image
			width: 100%

	// reglog
	.reglog
		&-progressbar
			margin-bottom: 25px

		&-form-wrapper
			margin-bottom: 25px

		&-form
			padding: 35px

		&-product-buy
			&-block
				&-text
					padding: 20px 15px

					&-price
						&__title
							font-size: 36px

						&__sale
							width: 45px
							height: 45px
							font-size: 15px

							right: 10px
							top: 10px

					&-list
						&__item
							font-size: 15px

					&__image
						margin-top: 20px

	// shop
	.shop
		margin: 25px 0

		&__description
			margin-bottom: 25px

		&-filters
			padding: 15px
			width: 100%

		&-top
			&-filters
				&__title
					font-size: 21px

		&-btn-wrapper
			margin-top: 25px

		&-block-wrapper
			margin-top: 25px

		&-block
			margin-bottom: 35px

			&-bottom
				margin-top: 25px

		&-btn-pagination
			&__btn
				width: 100%

	// shop-section
	.shop-section
		margin: 25px 0

		&__description
			margin-bottom: 25px

	// referrals
	.referrals
		margin: 25px 0

		&-info-block-wrapper
			margin-top: 25px

		&-info-block
			padding: 25px

		&-partners
			&__title
				font-size: 24px
				margin-bottom: 25px

		&-info-block-link
			&__title
				font-size: 21px

			&__subtitle
				font-size: 18px

	// magazine
	.magazine
		margin: 25px 0

		&-filters-categories
			margin-top: 25px

		&-block
			&-top
				&-cover
					height: 200px

				&-text
					&__title
						font-size: 28px

		&-btn-pagination
			&__btn
				width: 100%

	// magazine-post-page
	.magazine-post-page
		margin: 25px 0

		&-cover
			&__img
				margin-top: 25px

		&-block-wrapper
			margin-top: 50px

		&-block
			margin-bottom: 25px

			&:last-child
				margin-bottom: 25px

			&-text
				&__title
					font-size: 32px
					margin-bottom: 15px

					& > p
						font-size: 21px
						margin-bottom: 15px

			&__img
				margin-top: 25px

	// cabinet
	.cabinet
		margin: 25px 0

		&-card-user-info
			&-avatar
				width: 125px
				height: 125px

			&-text
				margin: 25px 0 0 0

				&__name
					font-size: 28px

					& span
						font-size: 28px

		&-block
			margin: 50px 0
			padding-bottom: 25px

			&-text
				&__title
					font-size: 32px

				&__subtitle
					font-size: 18px

			&-subscribe-item
				flex-direction: column
				align-items: flex-start

				padding-bottom: 25px
				margin-bottom: 25px

				&__title
					margin-bottom: 15px

				&__description
					display: flex
					justify-content: center

					width: 100%
					margin-bottom: 15px

				&__btn
					width: 100%

	// training
	.training
		margin: 25px 0

		&-section-wrapper
			margin-bottom: 50px

			&:last-child
				margin-bottom: 25px

		&-section
			&__title
				margin-bottom: 25px

			&-block
				&-cover
					height: 200px

				&-text
					&__title
						margin-bottom: 10px
						font-size: 24px

					&-progress
						width: 100%

		&-subscribe-disabled-wrapper
			padding: 15px

		&-subscribe-disabled
			&-text
				padding: 15px

				&__title
					margin-bottom: 25px

				&-types
					flex-direction: column

					&-item
						margin-bottom: 10px
						margin-right: 0

						&:last-child
							margin-bottom: 0

						& > svg
							width: 80%

    // passing
	.passing
		margin: 25px 0

		&-top
			&-text
				&__title
					font-size: 32px

		&-video
			margin-top: 15px

		&-lessons-list
			&-block
				&__subtitle
					font-size: 18px

				&-item
					margin-right: 10px

		&-lesson-info
			&-block
				&-text
					&__title
						margin-bottom: 25px
						font-size: 32px

				&-materials
					margin-top: 25px

					&__title
						font-size: 32px

		&-bottom-block
			padding-top: 15px
			margin-top: 15px

			&-master
				padding: 15px

				&-text
					&__title
						font-size: 24px

					&__description
						font-size: 18px

					&__link
						font-size: 18px

	// master-card
	.master-card
		margin: 25px 0

	// nagibinstudio
	.nagibinstudio
		margin-left: 0
		margin-top: 50px

@media screen and ( max-width: 450px )
	// reglog
	.reglog
		&-form
			padding: 25px

			&__policy
				font-size: 12px

@media screen and ( max-width: 400px )
	// main
	.main
		&-text
			&__title
				font-size: 32px

	// course-page
	.course-page
		&-price
			&-blocks
				&-subscribe
					&-text
						&__price
							font-size: 32px

						&-list
							margin-top: 15px

				&-buy
					&-text
						&-price
							&__title
								font-size: 32px

							&__sale
								width: 45px
								height: 45px
								font-size: 15px

								right: 10px
								top: 10px

					&-image
						padding-top: 25px

	// hobjob-good
	.hobjob-good
		&-text
			&__title
				font-size: 30px !important

@media screen and ( max-width: 350px )
	// course-page
	.course-page
		&-lessons
			&-video
				&-plaecholder
					&__description
						font-size: 18px
