// media
@media screen and ( max-width: 1400px )
	// course-page
	.course-page
		&-main
			&-text
				&__title
					width: 45%

					font-size: 54px

				&-description
					&__description
						font-size: 24px

					&__btnimage
						width: 95%

						margin-left: 0

		&-skills
			padding: 35px

			&__title
				margin-bottom: 35px

			&-items-wrapper
				flex-direction: column

			&-item
				width: 100%

				flex-direction: row

				margin-bottom: 15px

				&:last-child
					margin-bottom: 0

				&__title
					width: 45%

				&__description
					width: 50%

		&-use-skills
			flex-direction: column

			&__title
				width: 100%

			&-items-wrapper
				margin: 50px 0

				width: 100%

			&__image
				width: 100%

				position: static

		&-passing
			&__title
				margin-bottom: 75px

		&-tools
			flex-direction: column

			&__title
				width: 100%

			&-list
				margin-top: 50px
				margin-left: 35px

				width: 90%

				&__item
					font-size: 24px

					padding-bottom: 35px
					margin-bottom: 35px

					& > p
						width: 100%

	// training
	.training
		&-payment
			&-text
				&-description
					&__description
						font-size: 24px

						& > img
							width: 25px

			&__image
				width: 500px

	// footer
	.footer
		&__link
			font-size: 32px

@media screen and ( max-width: 1200px )
	// passing
	.passing
		&-lesson-info
			flex-direction: column

			&-block
				&-text, &-materials, &-middle,
					width: 100%

				&-middle
					height: 100px

				&-materials
					margin-top: 50px

		&-bottom-block
			&-master
				width: 100%

	// reglog
	.reglog
		&-block-wrapper
			width: 75%

@media screen and ( max-width: 1150px )
	// reglog
	.reglog
		&-wrapper
			flex-direction: column

		&-form-wrapper
			width: 100%
			margin-bottom: 50px

@media screen and ( max-width: 1100px )
	// course-page
	.course-page
		&-main
			&-text
				flex-direction: column

				&__title
					width: 100%

				&-description
					margin-top: 25px

					width: 100%

		&-lessons
			margin: 100px 0

			&-wrapper
				flex-direction: column

			&-video
				width: 100%
				min-width: 100%

				order: 2

			&-list
				width: 100%
				order: 1

				margin-bottom: 25px

				&__title
					width: 100%

				&-items-wrapper
					max-height: 500px
					overflow-y: auto

					+borderRadiusBlock

				&-item-shadow
					display: block

		&-faq
			flex-direction: column

			&__title
				width: 100%

			&-items-wrapper
				margin-top: 50px

				width: 100%

	// training
	.training
		&-payment
			flex-direction: column
			align-items: center

			&-text
				margin-top: 0

				width: 100%

				&__title
					margin-bottom: 25px

			&__image
				width: 70%

	// footer
	.footer
		&-wrapper
			flex-direction: column
			align-items: center

			text-align: center

		&-logos
			margin-bottom: 50px

@media screen and ( max-width: 900px )
	// course-page
	.course-page
		&-lessons
			&-video
				&-plaecholder
					&__description
						font-size: 36px

					&__link
						font-size: 36px

	// passing
	.passing
		&-top
			flex-direction: column

			&-text
				order: 2

			&-next
				order: 1
				width: 100%
				margin-bottom: 25px
				padding-bottom: 25px
				border-bottom: 1px solid $borderGray

		&-lessons-list
			flex-direction: column
			padding-bottom: 0
			margin-bottom: 25px

			&-block
				width: 100%
				margin-bottom: 25px

				&-item
					min-width: 150px

					&-cover
						height: 100px

		&-bottom-block
			&-master
				flex-direction: column
				align-items: center

				&-image
					margin-right: 0
					margin-bottom: 25px

					width: 200px
					min-width: 200px
					height: 200px

@media screen and ( max-width: 700px )
	// course-page
	.course-page
		&__title
			font-size: 42px

		&-skills
			&-item
				flex-direction: column

				&__title, &__description
					width: 100%

		&-lessons
			margin: 75px 0

			&-list
				&__title
					font-size: 42px

				&-item
					padding: 25px

					&__title
						font-size: 28px

					&__description
						margin-top: 25px
						max-width: 100%

		&-skills
			margin: 75px 0

			padding: 25px

			&-item
				padding: 25px

				&__title
					font-size: 28px

				&__description
					font-size: 24px

		&-use-skills
			margin: 75px 0

			&-item
				padding: 25px

				&__title
					font-size: 28px
					margin-bottom: 25px

		&-passing
			margin: 75px 0

		&-tools
			margin: 75px 0

		&-faq
			margin-top: 75px

			&-item
				padding: 25px

				&__title
					font-size: 28px
					margin-bottom: 25px

	// reglog
	.reglog
		&-block-wrapper
			width: 100%

    // passing
	.passing
		&-lesson
			&-info
				&-block
					&-text
						&__description
							font-size: 32px

	// footer
	.footer
		&-logos
			flex-direction: column

			&-item
				margin-top: 25px
				margin-left: 0

@media screen and ( max-width: 600px )
	// reglog
	.reglog
		&-form
			&__title
				font-size: 24px

@media screen and ( max-width: 500px )
	// header
	.header
		margin-top: 25px

		&-logo
			&__image
				width: 150px

	// course-page
	.course-page
		&__title
			font-size: 32px

		&__btn
			font-size: 18px
			padding: 20px 20px

			&.small
				font-size: 18px
				padding: 15px 25px

		&-fixed__btn
			width: 100%

		&-main
			&-text
				&__title
					font-size: 36px

				&-description
					&__btn
						margin-top: 25px

		&-lessons
			&-video
				&-plaecholder
					&__description
						font-size: 24px

					&__link
						font-size: 28px

			&-list
				&__title
					font-size: 32px
					margin-bottom: 25px

		&-skills
			padding: 20px

			&__title
				margin-bottom: 25px

		&-use-skills
			&-items-wrapper
				margin: 25px 0

		&-passing
			&__title
				margin-bottom: 25px

		&-tools
			&-list
				margin-top: 25px

		&-faq
			padding-bottom: 85px
			margin-bottom: 25px

			&-items-wrapper
				margin-top: 25px

	// training
	.training
		&-payment
			margin: 25px 0

			&-text
				&__title
					margin-bottom: 25px

				&-description
					&__description
						margin-bottom: 25px

				&-image
					display: flex
					flex-direction: column
					align-items: center

					&-confirmed
						width: 100%

						display: flex
						justify-content: space-between

						&__btn
							width: 100%

					&__upload
						width: 70%

			&__image
				margin-top: 50px

				width: 100%

	// reglog
	.reglog
		&-form-wrapper
			margin-bottom: 25px

		&-form
			padding: 35px

			&-progress
				margin-bottom: 25px

				overflow-y: auto

				&__item
					white-space: nowrap

					margin-right: 5px

    // passing
	.passing
		margin: 25px 0

		&-top
			&-text
				&__title
					font-size: 32px

		&-video
			margin-top: 15px

		&-lessons-list
			&-block
				&__subtitle
					font-size: 18px

				&-item
					margin-right: 10px

		&-lesson-info
			&-block
				&-text
					&__description
						font-size: 24px

				&-materials
					margin-top: 25px

					&__title
						font-size: 32px

		&-bottom-block
			padding-top: 15px
			margin-top: 15px

			&-master
				padding: 15px

				&-text
					&__title
						font-size: 24px

					&__description
						font-size: 18px

					&__link
						font-size: 18px

	// footer
	.nagibinstudio
		& > img
			width: 250px !important

	.footer
		&-logos
			margin-bottom: 25px

			&-item
				&__image
					width: 150px

		&__link
			font-size: 24px

			& > span
				font-size: 24px

@media screen and ( max-width: 450px )
	// reglog
	.reglog
		&-form
			padding: 25px
