// training
.training
	margin: 50px 0
	+openAnimation

	&-section-wrapper
		position: relative

		margin-bottom: 100px

		&:last-child
			margin-bottom: 50px

	&-section
		&-block
			position: relative

			width: 100%
			min-height: 200px

			margin-bottom: 15px
			padding: 15px

			background-color: $backgroundGray

			will-change: transform

			+openAnimation
			+borderRadiusBlock
			+transition

			&:last-child
				margin-bottom: 0

			&:hover
				+transformScale

			&:hover &-cover
				&-placeholder
					background-color: $blackTransparency

				&-icon
					opacity: 1
					transform: translate(-50%, -50%) scale3d(1, 1, 1)

			&:hover &__hidden
				color: $white
				background-color: $red

			&-left
				display: flex
				width: 100%

			&-cover
				position: relative
				overflow: hidden
				min-width: 250px
				height: 250px

				+borderRadiusBlock

				&-placeholder
					position: absolute
					width: 100%
					height: 100%

					background-color: rgba(0, 0, 0, 0)
					+transition

				&-icon
					position: absolute
					left: 50%
					top: 50%

					transform: translate(-50%, -50%) scale3d(.90, .90, .90)
					opacity: 0
					+transition

				&-img
					width: 100%
					height: 100%

					+backgroundSetting

			&-text
				width: 50%
				margin-left: 35px
				display: flex
				flex-direction: column
				justify-content: space-between

				&__title
					display: block
					font-size: 36px

					overflow: hidden
					white-space: nowrap
					text-overflow: ellipsis

				&-auth
					&__auth
						font-size: 21px
						color: $mainColor

				&-progress
					width: 75%

					&-line-wrapper
						display: flex
						align-items: center

					&-line
						position: relative

						width: 100%
						height: 8px
						background-color: #E9E9E9

						border-radius: 100px
						overflow: hidden

						&-subline
							height: 8px
							background-color: $mainColor

						&-success
							margin-left: 15px

					&__subtitle
						margin-top: 10px
						font-size: 18px
						color: $gray

			&__hidden
				z-index: 2
				position: absolute
				right: 15px
				top: 15px

				user-select: none
				cursor: pointer
				text-align: center
				display: inline-block
				font-size: 16px
				padding: 5px 10px
				border-radius: 100px
				color: $black

				will-change: transform

				+transition

				&:active
					+transformScale

	&-subscribe-section-wrapper

	&-subscribe-section
		&.close
			+closePopup

	&-subscribe-disabled-wrapper
		padding: 20px
		background-color: $backgroundGray

		margin: 0 auto

		width: 65%

		+borderRadiusBlock
		+openPopup

	&-subscribe-disabled
		background-color: $white

		+borderRadiusBlock

		&-text
			padding: 35px

			&__title
				font-size: 38px
				margin-bottom: 35px

			&-types
				overflow-x: auto
				display: flex

				&-item
					cursor: pointer
					margin-right: 15px

					opacity: 0.5
					transform: scale(.90)

					+transition

					&.active
						opacity: 1
						transform: scale(1)

					&:last-child
						margin-right: 0

					& > svg
						width: 225px

			&-list
				margin-top: 25px

				&__item
					display: flex
					align-items: center

					color: $mainColor
					font-size: 21px
					margin-bottom: 5px

					&:last-child
						margin-bottom: 0

					& svg
						margin-right: 7px

				&-hobjob-good
					display: flex
					align-items: center

					& svg
						margin-right: 7px

					&-text
						display: flex
						align-items: center

						&__logo
							user-select: none
							pointer-events: none

							width: 150px

						&__text
							margin-left: 7px

							display: flex
							align-items: center

							color: $mainColor
							font-size: 21px

			&__btn
				margin-top: 25px
				width: 100%

		&-image
			padding-bottom: 35px
			width: 100%

			&__image
				user-select: none
				pointer-events: none

				width: 100%

		&-image-media
			display: none
			width: 45%
			height: auto

			+backgroundSetting
			+borderRadiusBlock

	&-null
		display: flex
		justify-content: space-between
		align-items: center

		&-text
			width: 55%

			&__title
				margin-bottom: 25px

			&__btn
				width: 300px

		&__img
			width: 450px
			user-select: none
